<header>
    <div class="header">

        <div class="left-header-section"> 
            <a href="/home">
                <img class="mb-logo" src="/favicon.ico"> 
            </a>
            
        </div>

        <div class="right-header-section">
            <a href="/home" class="button-navigation">
                Home
            </a>
            <div class="dropdown">
                <button 
                    class="dropbtn"
                    style="color: rgba(255, 0, 0, 0.784);"
                >
                    EUTRC App
                </button>
                <div class="dropdown-content">
                  <a href="/eutrc/app/signin">APP</a>
                  <a href="/eutrcapp">About</a>
                  <a href="/eutrcapp#downloads">Downloads</a>
                  <a href="/eutrcapp/privacy-policy">Privacy Policy</a>
                </div>
              </div>
        </div>
    </div>
    
</header>