<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EUTRC APP | Home</title>

    <link rel="stylesheet" href="home.css">

</head>
<body>
    
    <div class="page">
        <div class="left-nav-section">
            <a 
                class="icon-btns"
                href="/"
                target="_blank"
            >
                <img 
                    class="icon-imgs"
                    src="/website images/mb_logo.png" 
                    alt="MegaBytten Logo"
                >
            </a>

            <img 
                class="icon-imgs"
                onclick="showHome()"
                src="/website images/eutrc app/icons/home_icon.png" 
                alt="Home Icon"
            >

            <img 
                class="icon-imgs"
                onclick="showEvents()"
                src="/website images/eutrc app/icons/events_icon.png" 
                alt="Events Icon"
            >

            <img 
                class="icon-imgs"
                onclick="showMoves()"
                src="/website images/eutrc app/icons/moves_icon.png" 
                alt="Moves Icon"
            >
            
        </div>
        <!-- This right content section will be what changes on button click -->
        <div class="right-content-section" id="right-panel-container">
        </div>
    </div>

    <form action="" style="display:none;">
        <input type="hidden" name="name" id="name" value="<%= name %>">
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="home.js"></script>   

</body>
</html>