<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EUTRC Sign Up</title>

    <style>
        body {
            background-image: url('/website images/eutrc app/MegaBytten_background.png');
            padding-top: 100px;
            padding-left: 5px;
            padding-left: 5px;
        }

        .logo-container {
            display: flex;
            justify-content: center;
        }

        .TTT-logo {
            height: 100px;
            width: 100px;
            color: black;
            border-radius: 20px;
        }

        h1, h2 {
            margin-top: 20px;
            margin-bottom: 10px;
            text-align: center;
            color: black;
        }

        h2 {
            margin-top: 8px;
        }

        .signin-container {
            background-color: beige;
            display: flex;
            orientation: vertical;
            justify-content: center;
            padding: 20px;
        }

        .signin-form {
            width: 200px
        }

        .signin-element {
            margin-bottom: 30px;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-bottom: 1px;
            padding: 4px;
            border-style: solid;
            background-color: beige;
            width: 100%;
        }

        .submit-btn {
            width: 100%;
            font-size: large;
            background-color: rgb(189, 33, 61);
            border: none;
            border-radius: 5px;
            padding: 8px;
            color: azure;
            font-weight: 900;
            letter-spacing: 1px;
        }

    </style>
</head>
<body>

    <div class="logo-container">
        <img 
            class="TTT-logo"
            src="/website images/eutrc app/waving_hand.png" 
            alt="An Image displaying a waving hand icon.">
    </div>

    <h1>
        EUTRC APP Sign Up
    </h1>

    <div class="signin-container">
        <form class="signin-form" onsubmit="return checkPwd(event)" action="/eutrcapp/login" method="post">
            <text>University Email</text> <br>
            <input class="signin-element" type="email" id="email" name="email" placeholder="@exeter.ac.uk">
            <text>First Name</text> <br>
            <input class="signin-element" type="text" id="firstName" name="firstName" placeholder="Ethan">
            <text>Last Name</text> <br>
            <input class="signin-element" type="text" id="lastName" name="lastName" placeholder="de Villiers">
            <text>Phone Number</text> <br>
            <input class="signin-element" type="number" id="number" name="number" placeholder="07238756120">
            <text>Create Password</text> <br>
            <input class="signin-element" type="password" id="newPassword" name="newPassword" placeholder="***********">
            <text>Confirm Password</text> <br>
            <input class="signin-element" type="password" id="confirmPassword" name="confirmPassword" placeholder="***********">
            <input class="submit-btn" type="submit" value="Submit">
          </form> 
    </div>

    <script type="text/javascript">
        function checkPwd(e){
            let pwd1 = document.getElementById('newPassword').value;
            let pwd2 = document.getElementById('confirmPassword').value;
            console.log(`trace: ${pwd1} and ${pwd2}`);
            if (pwd1 != pwd2){
                e.preventDefault();
                alert("Error! Passwords do not match.")
                return false
            } else {
                return true
            }
        }
    </script>
    
</body>
</html>