<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EUTRC Sign In</title>

    <style>
        body {
            background-image: url('/website images/eutrc app/MegaBytten_background.png');
            padding-top: 100px;
            padding-left: 5px;
            padding-left: 5px;
        }

        .logo-container {
            display: flex;
            justify-content: center;
        }

        .TTT-logo {
            height: 100px;
            width: 100px;
            color: black;
            border-radius: 20px;
        }

        h1, h2 {
            margin-top: 20px;
            margin-bottom: 10px;
            text-align: center;
            color: black;
        }

        h2 {
            margin-top: 8px;
        }

        .signin-container {
            background-color: beige;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
        }

        .signin-form {
            align-self: center;
            width: 200px
        }

        .signin-element {
            margin-bottom: 30px;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-bottom: 1px;
            padding: 4px;
            border-style: solid;
            background-color: beige;
            width: 100%;
        }

        .submit-btn {
            width: 100%;
            font-size: large;
            background-color: rgb(189, 33, 61);
            border: none;
            border-radius: 5px;
            padding: 8px;
            color: azure;
            font-weight: 900;
            letter-spacing: 1px;
        }

    </style>
</head>
<body>

    <div class="logo-container">
        <img 
            class="TTT-logo"
            src="/website images/eutrc app/playstoreicon.png" 
            alt="An Image displaying MegaBytten's Touch Training Tracker's logo.">
    </div>

    <h1>
        EUTRC APP Sign in
    </h1>

    <div class="signin-container">
        <h4 name="error-msg" id="error-msg" style="text-align: center;">
            
        </h4>

        <script>
            let statusCode = '<%=status%>'
            console.log(statusCode);
            if (statusCode == 0){
                //natural state, freshly joining page
                let errorMsg = document.getElementById('error-msg')
                errorMsg.style.display = "none"
            } else if (statusCode == 1){
                //email not recognised error
                let errorMsg = document.getElementById('error-msg')
                errorMsg.textContent = "Email not recognised. Are you sure you have signed up?"

            } else if (statusCode == 2){
                //incorrect password error
                let errorMsg = document.getElementById('error-msg')
                errorMsg.textContent = "Incorrect password. Please try again."

            } else if (statusCode == 3){
                //redirected from signup page; email already linked to an account
                let errorMsg = document.getElementById('error-msg')
                errorMsg.textContent = "This email has already been registered. Try signing in instead."
            }
        </script>

        <form class="signin-form" action="/eutrcapp/login" method="post">
            <text>Email</text> <br>
            <input class="signin-element" type="email" id="email" name="email" placeholder="@exeter.ac.uk">
            <text>Password</text> <br>
            <input class="signin-element" type="password" id="password" name="password" placeholder="***********">
            <text style="text-align: center; margin-bottom: 10px; font-size: small;">Forgotten password? Contact admin!</text>
            <input class="submit-btn" type="submit" value="Submit">
          </form> 

        <a href="/eutrc/app/signup" style="text-align: center; margin-top: 20px; font-size: small;">
            Don't have an account?
            <br>Click here
        </a>
    </div>

    <div style="display: flex; justify-content:center;">
    </div>
    
</body>
</html>