<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EUTRC APP | Home</title>

    <style>
        body {
            background-color: black;
            padding: 20px;
        }

        .title-section {
            display: flex;
            justify-content: center;
            color: rgb(216, 216, 205);
            flex-direction: column;
        }

        h2 {
            color: bisque;
        }

        .info-section {
            display: flex;
            justify-content: center;
            color: rgb(184, 168, 148);
            flex-direction: column;
        }

        .highlighted-warning {
            color: rgb(255, 79, 79);
        }

        .action-btns-section {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 50px;
        }

        .action-btns {
            width: 200px;
            height: 50px;
            font-size: larger;
            font-weight: 800;
            background-color: bisque;
            border-radius: 5px;
            border: none;
        }

    </style>
</head>
<body>
    <div class="title-section"> 
        <h1 style="text-align:center ;">
            EUTRC APP Verification
        </h1>

        

    </div>

    <div class="info-section">
        <h2 style="text-align:center;">
            <%= name %>!
            Your email has not yet been 
            <span class="highlighted-warning">
                verified.
            </span>
        </h2>
        <p>If you have been sent a verification email before, please check 
            your email and spam folder for your verification code
        </p>
    </div>

    <div class="action-btns-section">
        <form 
        action="http://megabytten.org/eutrcapp/verfbot"
        method="post"
        >
            <input type="hidden" id="email" name="email" value="<%= email %>">
            <input type="hidden" id="password" name="password" value="<%= password %>">
            <input class="action-btns" type="submit" value="Send Code">
        </form>
        <button class="action-btns">
            Enter Code
        </button>
    </div>

    <script>
        function sendVerif(){
            console.log('hello!');
        }
    </script>

    
</body>
</html>