<html>
    <link rel="stylesheet" href="home.css">
    <!-- This div holds all pag einfo for MOVES page -->
    <div class="right-content" name="movesPage" id="movesPage">
        <h1 style="text-align:center">
            EUTRC Moves
        </h1>

        <h2>
            Table of contents
        </h2>

        <ul>
            <li>
                <a href="#32s">
                    32s
                </a>
            </li>
            <li>
                <a href="#mid">
                    Mid-Mid plays
                </a>
            </li>
            <li>
                <a href="#32s">
                    Misc
                </a>
            </li>
        </ul>
        
        <h3 onclick="open32Slides()" style="cursor: pointer;">
            32 Attacking Moves (CLICK!)
        </h3>
        
        <div class="" id="32s">
        </div>

        <h3 onclick="openMidSlides()" style="cursor: pointer;">
            Mid-Mid Attacking Moves (CLICK!)
        </h3>
        
        <div class="" id="mid">
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="panels/moves.js"></script>
</html>