.footer {
    background-color:#222222;
    padding-bottom: 20px;
    width: 100%;
}

.footer-site-title {
    color: azure;
    margin: 0px;
    padding-top: 5px;
    width: 100%; 
    text-align: center;
    font-size: 16px;
}

.footer-icon-section {
    margin-top: 15px;
    display:flex;
    align-items: start;
    justify-content: space-evenly;

}

.footer-github-icon,
.footer-logo-icon,
.footer-ttt-icon {
    width:50px;
}

.footer-ttt-icon {
    border-radius: 18px;
}

.footer-eutrcapp-subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.footer-privacy-link {
    color: bisque;
    text-decoration: underline;
    text-decoration-color:coral;
    text-underline-offset: 2px;
    font-size: 10px;
}