.header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #222222;
    border-bottom: 2px solid rgb(238, 52, 114);
    width: 100%;

}

.left-header-section {
    width: 50px;
}

.mb-logo {
    width: 40px;
    cursor: pointer;
}

.right-header-section {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: #EE3472;
    font-size: 16px;
    border: none;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(45, 45, 45);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: rgba(255, 255, 255, 0.879);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: #fb9fbd;
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: rgba(255, 0, 0, 0.784);
} 

.button-navigation {
    border: 0px;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    color: #EE3472;
}

.button-navigation:hover {
    text-decoration: underline;
}

.title {
    text-align: center;
    color: antiquewhite;
}